.topnav{margin-top: 66px;}
.topnav i{color: #ff4223;}
.mobile p{margin-left: 32px; font-size: 17px;}
.email p{font-size: 16px;}
.navbar ul li{margin-left: 42px;}
.navbar ul li a{color: black !important; font-size: 17px; font-weight: 600; text-transform: uppercase;}
.navbar ul li a:hover{background:#ff0000 !important; color: #fff !important; border-radius: 10px;}
.navbar{padding: 0; border-top: 4px solid #fafafa;}
.navbar .btn{white-space: nowrap; background: #06163a !important; border-color: #06163a; border-radius: 5px; font-weight: 600;}
.navbar .btn:hover{background: #06163a !important;}
.navbar .btn:focus{box-shadow: none;}

/* hero*/
.hero{background-image: url(../image/hero.png); background-size: cover; background-repeat: no-repeat; height: 680px;}
.hero h2{font-size: 45px; font-weight: bold; color: #fff; white-space: nowrap;}
.hero p{font-size: 22px; line-height: 30px; margin-top: 44px; margin-bottom: 38px; color: #fff;}
.hero .btn{ background:#ff0000; border-radius:0; border-color:#ff0000; font-size: 22px; font-weight: bold;}
.hero .btn:hover{background: #ff0000 !important;}
.hero .btn:focus{box-shadow: none;}

/* choose us */
.choose-us{ margin-top: 55px;}
.choose-text h2{ font-size: 29px; font-weight: 600;}
.choose-text p{font-size: 19px; font-weight: 400;}
.rowcstm{margin-left: auto; margin-right: auto;padding: 37px 45px; border-radius: 0px 0px 10px 10px; box-shadow: -1px 21px 40px 10px rgba(0,0,0,0.13); width: 71%;}
.rowcstm .col-md-3{border-left: 1px solid #f2f2f2;}
.box-text h2{ font-size: 16px; font-family: 400; margin-bottom: 22px; margin-top: 16px; text-transform: uppercase;}
.box-text p{ font-size: 14px;}
.box-text::before{
    content: '';
    height: 2px;
    width: 30px;
    display: inline-block;
    background: #ff0000;
    margin-top: 28px;

}

/* quote */
.quote{background: url(../image/truck.jpg); overflow: hidden; position: relative; background-size: cover; background-position: center; margin-bottom: 98px;}
.quote::after{
    content: '';
    position: absolute;
    background: url(../image/shape.png) no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
    right: -54%;
transform: scale(1.49);

}
.quote h2{font-size: 28px; font-weight:600; text-transform: uppercase;}
.cstm{padding: 20px 100px; z-index: 21;}
.quote span{color: #ff0000;}
textarea.form-control{border-radius: 0; border: none;}
.inlogin{height: 55px; background: #65656f; font-size: 18px; font-weight: 400; border-radius: 0; border: none;}
.inlogin::placeholder{color: #fff; opacity: 1;}
.inlogin:focus{background: #65656f; box-shadow: none; border: none;}
.msg{height: 102px; background: #65656f; font-size: 19px; font-weight: 400;}
.msg::placeholder{color: #fff; opacity: 1; }
.msg:focus{background: #65656f; box-shadow: none; border: none;}
.form-group{margin-bottom: 0px;}
.btn{background: #ff0000; border-radius: 0; border-color: #ff0000; font-size: 18px; font-family: 400;}
.btn:hover{background: #ff0000 !important;}

/*  */
.bg1{background-image: url(../image/bg2.jpg); background-size: cover;}
.about-bg{background:#143369;}
.about-text h2{ font-size: 39px; font-weight: bold; color: #fff; margin-bottom: 50px;}
.about-text p{color: #fff; font-size: 20px;}
.about-text{margin: 95px 80px;}
span{color: #88a6d8; text-transform: uppercase;}
.about .btn{
    font-size: 15px;
    font-weight: bold;
    padding: 12px 17px;}


/*  */
.high-bg1{background-image: url(../image/bg3.jpg); background-size: cover; background-position: bottom; margin-bottom: 50px;}
.high ul{ list-style: none; padding-inline-start: 0px;}
.high ul li{margin-bottom: 18px;}
.high i{margin-right: 20px; color: #77b93d;}
.high h2{ margin-top: 80px; margin-bottom: 43px; font-size: 35px; font-weight: bold;color: #143369;}
.high p{margin: 54px 80px 54px 0px ; font-size: 18px;}


/*  */
.working{background-image: url(../image/bg4.jpg); background-size: cover; height: 286px; filter: hue-rotate(144deg);}
.working h2{font-size: 30px; font-weight: 500; color: #fff;}
.working p{font-size: 18px; color: #fff;}
.working .btn{ background: transparent; border:2px solid white; border-radius: 30px; padding: 7px 38px;}
.working .btn:hover{background-color: transparent !important;}


/*  */
.client-text{margin: 50px 0px;}
.client-text h2{font-size: 33px; font-weight: 700;}
.client img{margin-bottom: 56px;}

/* footer */
.footer{background: #091b27;}
.footer p{color: #fff; margin-top: 20px; font-size: 13px;}
.footer h2{color:#fff;}
.footer ul{list-style: none; padding-inline-start: 0px;}
.footer ul li {color: #fff !important; }
.footer .mgg{margin-left: 70px;}


/*  */
.ab i{margin-left: 20px; color: #fff;}
.ab{background: #071621;}
.ab p{color: #fff;}


  /* img Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

@media (max-width:780px){
    .hero{height: 425px;}
    .topnav p{margin-bottom: 0px;}
    .mobile p{font-size: 13px;
        margin-left: 0px; margin-bottom: 0px; white-space: nowrap;}
     .email{font-size: 14px}
     .topnav{margin-top: 10px;}
    .hero h2{ font-size:27px;}
    .choose-us{margin-top: 25px;}
    .choose-text h2{font-size: 24px;}
    .choose-text p{font-size: 14px}
    .rowcstm{padding: 22px 13px;}
    .rowcstm .col-md-3{border: none;}
    .cstm{padding: 0px;}
    .quote h2{font-size: 24px;}
    .quote p{font-size: 16px;}
    .quote .row{margin-left: 0px; margin-right: 0px;}
    .quote{ margin-bottom: 27px;}
    .about-text{margin: 0px;}
    .about-text p{font-size: 16px;}
    .high h2{margin-top: 36px; margin-bottom: 37px; font-size: 31px; font-weight: 400;}
    .high p{margin: 0px;}
    .high-bg1{margin-bottom: 12px;}
    .quote::after{display: none;}
    .client-text {margin: 39px 0px;}
    .footer .mgg{margin-left: 0px;}
    .choose-us{margin-top: 2px;}
    .client img{margin-bottom: 10px;}
    .box-text::before{margin-bottom: 0px;}
    .box-text h2{margin-top: 0px; margin-bottom: 0px;}
    .choose-text h2{font-size: 17px;}

    
}